<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
<title>Menu</title>
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <!-- Header -->
    <nav>
        <div class="logo">
            <a href="">Mymenu</a>
        </div>
        <!-- <a href="../templates/img.html">image page</a> -->
    </nav>
    <!-- Header stops -->


    <!-- Menu section -->
    <section>
        <div class="container">
             <button id="btn">+</button>
            
            <div class="pop-up">
                <form class="popup-content">
                    <img src="../src/close.png" alt="close" class="close">
                    <input type="text" placeholder="Title" class="title" contenteditable="true">
                    <input type="text" placeholder="Description" class="description" contenteditable="true">
                    <input type="text" placeholder="Price" class="price" contenteditable="true">
                    <input type="file" class="image" accept="image/png, image/jpg">
                    <button type="submit">submit</button>            
                </form>
            </div>
        </div>
        <div class="container">
            <div class="menu">
                <ul class="item"></ul>
            </div>    
        </div>
    </section>
            
<script src="../static/app.js"></script>    
</body>
</html>
